@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

body {
  @apply relative min-h-screen bg-secondary;
}

.headline-gradient-1 {
  background: linear-gradient(94deg, #05f691 0%, #e2f8cc 48%, #efe709 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hide default Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* Hide default Swiper navigation button pseudo-elements */
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}

/* Style custom navigation buttons */
.custom-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

.swiper-button-next.custom-button {
  margin-top: 50px;
  right: 10px;
}

.swiper-button-prev.custom-button {
  margin-top: 50px;
  left: 10px;
}

.swiper-pagination-custom {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
